body{
    background-color: rgb(112, 120, 146) !important;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    
    text-align: center !important;
    gap: 3rem  !important ;
}
span{
    font-weight: bold;
}
.card{
    border-radius: 5px;
    background-image: linear-gradient(to right,rgb(184, 184, 184), rgb(68, 68, 68));;
    box-shadow: 1px 1px 2px  rgb(158, 158, 158);
    width:20rem;
    color: white;
    height: 29rem;
   
}
.flag{
    justify-content: center;
    place-content: center;
    text-align: center;
    /* padding: 2rem; */
    width:10rem;
    height: 10rem;
    margin:auto;
}
.car{
    /* height: 10rem; */
    line-height: normal;
}
#title{
    background-color: black;
}